<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <link rel="stylesheet" href="../styles/modal.css">
  <title>demo</title>
</head>
  <body>

  <div id="modal">
    <div class="container">
      <br>
      <br>
      <div class="header">SIGN THE PETITION TO YOUR<br>HR MANAGER AT GOLDMAN SACHS</div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-3 form-group col-md-offset-3">
          <label for="name">Your Name:</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="col-md-3 form-group">
          <label for="pwd">Your Email:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="col-md-3 col-md-offset-9"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          Dear ____ HR Director,
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          Signed,
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          #fullname
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          #email
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <button type="button" class="btn btn-primary btn-md btn-lg btn-block sign">SIGN PETITION</button>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>

  <script src="../scripts/main.js" type="text/javascript"></script>
  </body>
</html>
